* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navbar {
  display: flex;
  background-color: #F55A5A;
  color: white;
  margin-top: 0;
  height: 80px;
  justify-content: center;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  align-items: center;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.navbar>img {
  height: 45px;
  margin-right: 10px;

}

.destination-container {
  display: flex;
  margin: 100px 70px;
  height: 400px;
  border-bottom: solid rgba(128, 128, 128, 0.444);
}

.destination-img {
  height: 300px;
  width: 200px;
  border-radius: 15px;
}

.destination-title {
  margin-left: 50px;
  font-size: 50px;
}